<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="">
<head>
    <meta charset="UTF-8">
    <title>Login form</title>
</head>

<body class="form-group col-md-6">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <h2>LOGIN AND REGISTRATION</h2>

            <form role="form" method="post" th:action="@{/login}"
                  enctype="multipart/form-data" th:object="${user}">
                <div th:if="${param.error}" class="alert alert-success">
                    invalid username and password
                </div>

                <!-- Email input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="email"
                           id="form2Example1"
                           class="form-control"
                           placeholder="Email"
                           th:field="*{email}"
                           required/>
                    <label class="form-label" for="form2Example1">Email address</label>
                </div>
                <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                       class="text-danger"></label>

                <!-- Password input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="password"
                           id="form2Example2"
                           class="form-control"
                           placeholder="Password"
                           th:field="*{password}"
                           required/>
                    <label class="form-label" for="form2Example2">Password</label>
                </div>
                <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                       class="text-danger"></label>


                <div class="button">
                    <a th:href="@{/login}" style="float: left;" class="btn btn-info mb-3">Login</a>
                </div>

                <div class="button">
                    <a th:href="@{/register/save}" style="float: left;" class="btn btn-info mb-3">Registration</a>
                </div>
            </form>
        </div>

    </section>
</main>
</body>
</html>