<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="">
<head>
    <meta charset="UTF-8">
    <title>Login form</title>
</head>

<body class="form-group col-md-6">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">

        <form role="form" method="post" th:action="@{/register/save"
              enctype="multipart/form-data" th:object="${user}">
            <div th:if= "${param.error}" class="alert alert-success">
                invalid username and password
            </div>

            <!-- Email userName -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="text"
                       id="form2Example1"
                       class="form-control"
                       th:field="*{userName}"
                       placeholder="User name"
                       required/>
                <label class="form-label" for="form2Example1">Email address</label>
            </div>
            <label th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"
                   class="text-danger"></label>

            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="email"
                       id="form2Example2"
                       class="form-control"
                       placeholder="Email"
                       th:field="*{email}"
                       required/>
                <label class="form-label" for="form2Example1">Email address</label>
            </div>
            <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                   class="text-danger"></label>

            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="password"
                       id="form2Example3"
                       class="form-control"
                       placeholder="Password"
                       th:field="*{password}"
                       required/>
                <label class="form-label" for="form2Example2">Password</label>
            </div>
            <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                   class="text-danger"></label>

            <button th:href = "@{register}" type="submit" class="btn btn-black">Register</button>
        </form>
    </section>
</main>
</body>
</html>