<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="">
<head>
    <title>Components list</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <h1 style="text-align: center; background-color:tomato">Products</h1>
            <div >
                <form th:action="@{/products/search}" method="get" class="form-inline my-2 my-lg-0">
                    <label>
                        <input name="query" class="form-control mr-sm-2" type="search"
                               placeholder="Search products" aria-label="Search">
                    </label>
                </form>

                <div class="button">
                    <a th:href="@{/products/new}" style="float: right;" class="btn btn-info mb-3">Create new</a>
                </div>
                <table class="table table-success table-striped">
                    <tr>
                        <th>#</th>
                        <th>Product name</th>
                        <th>Measure unit</th>
                        <th>Product description</th>
                        <th>View</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <th:block th:each="product : ${productsList}">
                        <tr>
                            <td style="width:3%" th:text="${product.productId}"></td>
                            <td style="width:25%" th:text="${product.name}"></td>
                            <td style="width:25%" th:text="${product.measureUnit.name}"></td>
                            <td style="width:37%" th:text="${product.description}"></td>
                            <td style="width:3%"><a class="btn btn-outline-primary btn-sm"
                                                    th:href="@{/products/{productId}(productId=${product.productId})}">View</a>
                            </td>
                            <td style="width:5%"><a class="btn btn-outline-primary btn-sm"
                                              th:href="@{/products/{productId}/edit(productId=${product.productId})}">Edit</a>
                            </td>
                            <td style="width:5%"><a class="btn btn-outline-danger btn-sm"
                                              th:href="@{/products/{productId}/delete(productId=${product.productId})}">Delete</a>
                            </td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
    </section>
</main>
</body>
</html>
