<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="">

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body">
        <header class="py-1 bg-light border-bottom">
            <div class="container px-2 my-1 ">
                <br>
                <h1 style="text-align: center; background-color:tomato">Components in product fulfilment</h1>
                <div class="text-center my-2">
                    <h6 style="text-align: center">Product name</h6>
                    <h3 class="fw-bolder" th:text="${product.name}"></h3>
                </div>
            </div>
        </header>
        <div class="container">
            <h4 style="text-align: center">Add components in product</h4>

            <div class="btn btn-primary me-2 mb-3">
                <a th:href="@{/componentsInProduct/{productId}/new(productId=${product.productId})}"
                   style="float: right;" class="btn btn-success mb-3">Add new component</a>
            </div>

            <table class="table table-success table-striped">
                <tr>
                    <th>#</th>
                    <th>Component name</th>
                    <th>Quantity in product</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <th:block th:each="componentInProduct : ${componentsInProductByProductList}">
                    <tr>
                        <td style="width:5%" th:text="${componentInProduct.componentInProductId}"></td>
                        <td style="width:65%" th:text="${componentInProduct.component.name}"></td>
                        <td style="width:10%" th:text="${componentInProduct.quantityByProduct}"></td>

                        <td style="width:10%"><a class="btn btn-outline-primary btn-sm"
                                                th:href="@{/componentsInProduct/{componentInProductId}/edit(componentInProductId=${componentInProduct.componentInProductId})}">Edit</a>
                        </td>
                        <td style="width:10%"><a class="btn btn-outline-danger btn-sm"
                                                th:href="@{/componentsInProduct/{componentInProductId}/delete(componentInProductId=${componentInProduct.componentInProductId})}">Delete</a>
                        </td>
                    </tr>
                </th:block>
            </table>
        </div>
    </section>
</main>
</body>
</html>