<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <h2>Edit product</h2>
            <form role="form" method="post" th:action="@{/products/{productId}/update(productId=${product.productId})}"
                  enctype="multipart/form-data" th:object="${product}">
                <div class="form-group col-md-6">
                    <label for="name" class="form-label">Name</label>
                    <input
                            type="text"
                            th:field="*{name}"
                            class="form-control"
                            id="name"
                            placeholder="Product name"
                            required>
                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                           class="text-danger"></label>
                </div>

                <div class="form-group col-md-6">
                    <label for="measureUnit" class="form-label">Measure unit</label>
                    <div class="col-sm-8" >
                        <select class="form-control" id="measureUnit" th:field="*{measureUnit}" required>
                            <option value="" selected>----SELECT MEASURE UNIT----</option>
                            <th:block th:each="mu : ${measureUnitsList}">
                                <option
                                        th:value="${mu.measureUnitId}"
                                        th:text="${mu.name}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input
                            type="text"
                            th:field="*{description}"
                            class="form-control"
                            id="description"
                            placeholder="Product description">
                    <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                           class="text-danger"></label>
                </div>
                <button type="submit" class="btn btn-info mb-3">Update</button>
            </form>
        </div>
    </section>
</main>
</body>
</html>