<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="">
<head>
    <title>Addresses list</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <h1 style="text-align: center; background-color:tomato">Addresses</h1>

            <div>
                <table class="table table-success table-striped">
                    <tr>
                        <th>#</th>
                        <th>Contractor name</th>
                        <th>Country</th>
                        <th>City</th>
                        <th>Street</th>
                        <th>Building</th>
                        <th>Postal code</th>
                    </tr>
                    <th:block th:each="address : ${addressesList}">
                        <tr>
                            <td style="width:5%" th:text="${address.addressId}"></td>
                            <td style="width:20%" th:text="${address.contractor.name}"></td>
                            <td style="width:20%" th:text="${address.country}"></td>
                            <td style="width:20%" th:text="${address.city}"></td>
                            <td style="width:20%" th:text="${address.street}"></td>
                            <td style="width:15%" th:text="${address.building}"></td>
                            <td style="width:15%" th:text="${address.postalCode}"></td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
    </section>
</main>
</body>
</html>
