<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="">
<head>
    <title>Consignments list</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <h1 style="text-align: center; background-color:tomato">Received consignments</h1>
            <div>
                <form th:action="@{/consignments/search}" method="get" class="form-inline my-2 my-lg-0">
                    <label>
                        <input name="query" class="form-control mr-sm-2" type="search"
                               placeholder="Search consignments" aria-label="Search">
                    </label>
                </form>
            </div>
            <div class="button">
                <a th:href="@{/consignments/new}" style="float: right;" class="btn btn-info mb-3">Create new</a>
            </div>
            <div>
                <table class="table table-success table-striped">
                    <tr>
                        <th>#</th>
                        <th>Consignment number</th>
                        <th>Consignment date</th>
                        <th>Contractor</th>
                        <th>VAT</th>
                        <th>Sum without VAT</th>
                        <th>VAT SUM</th>
                        <th>Sum with VAT</th>
                        <th>View</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <th:block th:each="consignment : ${consignmentsList}">
                        <tr>
                            <td style="width:3%" th:text="${consignment.consignmentId}"></td>
                            <td style="width:20%" th:text="${consignment.number}"></td>
                            <td style="width:10%" th:text="${consignment.date}"></td>
                            <td style="width:15%" th:text="${consignment.contractor.name}"></td>
                            <td style="width:10%" th:text="${consignment.vatLevel}"></td>
                            <td style="width:10%" th:text="${consignment.totalSum}"></td>
                            <td style="width:10%" th:text="${consignment.totalSum} * 1.2 - ${consignment.totalSum}"></td>
                            <td style="width:10%" th:text="${consignment.totalSum} * 1.2"></td>

                            <td style="width:3%"><a class="btn btn-outline-primary btn-sm"
                                              th:href="@{/consignment/{consignmentId}(consignmentId=${consignment.consignmentId})}">View</a>
                            </td>
                            <td style="width:7%"><a class="btn btn-outline-primary btn-sm"
                                              th:href="@{/consignments/{consignmentId}/edit(consignmentId=${consignment.consignmentId})}">Edit</a>
                            </td>
                            <td style="width:7%"><a class="btn btn-outline-danger btn-sm"
                                              th:href="@{/consignments/{consignmentId}/delete(consignmentId=${consignment.consignmentId})}">Delete</a>
                            </td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
    </section>
</main>
</body>
</html>
