 <!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="">

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body">
        <header class="py-1 bg-light border-bottom">
            <div class="container px-2 my-1 ">
                <br>
                <h1 style="text-align: center; background-color:tomato">Consignment fulfilment</h1>
                <div class="text-center my-2">
                    <h6 style="text-align: center">Consignment number</h6>
                    <h3 class="fw-bolder" th:text="${consignment.number}"></h3>
                    <h6 style="text-align: center">Consignment date</h6>
                    <h3 class="fw-bolder" th:text="${consignment.date}"></h3>
                    <h6 style="text-align: center">Total sum without VAT</h6>
                    <h3 class="fw-bolder" th:text="${consignment.totalSum}"></h3>
                </div>
            </div>
        </header>
        <div class="container">
            <h4 style="text-align: center">Add components on warehouse</h4>

            <div class="btn btn-primary me-2 mb-3">
                <a th:href="@{/componentsOnWarehouse/{consignmentId}/new(consignmentId=${consignment.consignmentId})}"
                   style="float: right;" class="btn btn-success mb-3">Add new component</a>
            </div>

                <table class="table table-success table-striped">
                    <tr>
                        <th>#</th>
                        <th>Component name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Sum</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <th:block th:each="componentOnWarehouse : ${componentOnWarehousesByConsignmentList}">
                        <tr>
                            <td style="width:3%" th:text="${componentOnWarehouse.componentOnWarehouseId}"></td>
                            <td style="width:20%" th:text="${componentOnWarehouse.component.name}"></td>
                            <td style="width:10%" th:text="${componentOnWarehouse.quantity}"></td>
                            <td style="width:10%" th:text="${componentOnWarehouse.price}"></td>
                            <td style="width:10%"  th:with="var=${componentOnWarehouse.price * componentOnWarehouse.quantity}"
                                th:text="${var}"></td>

                            <td style="width:7%"><a class="btn btn-outline-primary btn-sm"
                                              th:href="@{/componentsOnWarehouse/{componentOnWarehouseId}/edit(componentOnWarehouseId=${componentOnWarehouse.componentOnWarehouseId})}">Edit</a>
                            </td>
                            <td style="width:7%"><a class="btn btn-outline-danger btn-sm"
                                              th:href="@{/componentsOnWarehouse/{componentOnWarehouseId}/delete(componentOnWarehouseId=${componentOnWarehouse.componentOnWarehouseId})}">Delete</a>
                            </td>
                        </tr>
                    </th:block>
                </table>
            <div class="button">
                <a th:href="@{/warehouseBalances/{consignmentId}/save(consignmentId=${consignment.consignmentId})}" style="float: right;" class="btn btn-info mb-3">Send to warehouse</a>
            </div>
            </div>

    </section>

</main>
</body>
</html>