<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="">
<head>
    <title>Component's list</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <h1 style="text-align: center; background-color:tomato">Received components</h1>

            <div>
                <table class="table table-success table-striped">
                    <tr>
                        <th>#</th>
                        <th>Component name</th>
                        <th>Consignment number</th>
                        <th>Consignment date</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Sum</th>
                    </tr>
                    <th:block th:each="cow : ${componentOnWarehousesList}">
                        <tr>
                            <td style="width:10%" th:text="${cow.component.componentId}"></td>
                            <td style="width:30%" th:text="${cow.component.name}"></td>
                            <td style="width:30%" th:text="${cow.consignment.number}"></td>
                            <td style="width:30%" th:text="${cow.consignment.date}"></td>
                            <td style="width:30%" th:text="${cow.quantity}"></td>
                            <td style="width:30%" th:text="${cow.price}"></td>
                            <td style="width:30%" th:text="${cow.price} * ${cow.quantity}"></td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>

    </section>
</main>
</body>
</html>
