<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="">
<head>
    <meta charset="UTF-8">
    <title>Component</title>
</head>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <h2>Add new component to consignment</h2>
            <form role="form" method="post" th:action="@{/componentsOnWarehouse/{consignmentId}(consignmentId=${consignmentId})}"
                  enctype="multipart/form-data" th:object="${componentOnWarehouse}">


                <div class="form-group col-md-6 mb-3">
                    <label for="component" class="form-label">Component on warehouse</label>
                    <div class="col-sm-8" >
                        <select class="form-control" id="component" th:field="*{component}" required>
                            <option value="" selected>----SELECT COMPONENT----</option>
                            <th:block th:each="comp : ${componentsList}">
                                <option
                                        th:value="${comp.componentId}"
                                        th:text="${comp.name}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="quantity" class="form-label">Quantity</label>
                    <input
                            type="number" step="0.2"
                            th:field="*{quantity}"
                            class="form-control"
                            id="quantity"
                            placeholder="Component quantity"
                            required>
                    <label th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"
                           class="text-danger"></label>
                </div>

                <div class="form-group col-md-6  mb-3" >
                    <label for="price" class="form-label">Price</label>
                    <input
                            type="number" step="0.2"
                            th:field="*{price}"
                            class="form-control"
                            id="price"
                            placeholder="Component price">
                    <label th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                           class="text-danger"></label>
                </div>

                <button type="submit" class="btn btn-info mb-3">ADD</button>
            </form>
        </div>
    </section>
</main>
</body>
</html>