<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="">
<head>
    <title>Components list</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <h1 style="text-align: center; background-color:tomato">Components</h1>
            <div>
                <form th:action="@{/components/search}" method="get" class="form-inline my-2 my-lg-0">
                    <label>
                        <input name="query" class="form-control mr-sm-2" type="search"
                               placeholder="Search components" aria-label="Search">
                    </label>
                </form>
            </div>
            <div class="button">
                <a th:href="@{/components/new}" style="float: right;" class="btn btn-info mb-3">Create new</a>
            </div>
            <div>
                <table class="table table-success table-striped">
                    <tr>
                        <th>#</th>
                        <th>Component name</th>
                        <th>Component kind</th>
                        <th>Measure unit</th>
                        <th>Component border quantity</th>
                        <th>Component description</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <th:block th:each="component : ${componentsList}">
                        <tr>
                            <td style="width:3%" th:text="${component.componentId}"></td>
                            <td style="width:20%" th:text="${component.name}"></td>
                            <td style="width:20%" th:text="${component.componentKind.name}"></td>
                            <td style="width:20%" th:text="${component.measureUnit.name}"></td>
                            <td style="width:22%" th:text="${component.minQuantity}"></td>
                            <td style="width:22%" th:text="${component.description}"></td>

                            <td style="width:5%"><a class="btn btn-outline-primary btn-sm"
                                              th:href="@{/components/{componentId}/edit(componentId=${component.componentId})}">Edit</a>
                            </td>
                            <td style="width:5%"><a class="btn btn-outline-danger btn-sm"
                                              th:href="@{/components/{componentId}/delete(componentId=${component.componentId})}">Delete</a>
                            </td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>

    </section>
</main>
</body>
</html>
