<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <h2>Add product on selling</h2>
            <form role="form" method="post" th:action="@{/productsOnSelling/{deliveryNoteId}(deliveryNoteId=${deliveryNoteId})}"
                  enctype="multipart/form-data" th:object="${productOnSelling}">

                <div class="form-group col-md-6 mb-3">
                    <label for="product" class="form-label">Product on selling</label>
                    <div class="col-sm-8" >
                        <select class="form-control" id="product" th:field="*{product}" required>
                            <option value="" selected>----SELECT PRODUCT----</option>
                            <th:block th:each="p : ${productsList}">
                                <option
                                        th:value="${p.productId}"
                                        th:text="${p.name}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="quantity" class="form-label">Quantity</label>
                    <input
                            type="text"
                            th:field="*{quantity}"
                            class="form-control"
                            id="quantity"
                            placeholder="Quantity">
                    <label th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"
                           class="text-danger"></label>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input
                            type="text"
                            th:field="*{price}"
                            class="form-control"
                            id="price"
                            placeholder="Price">
                    <label th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                           class="text-danger"></label>
                </div>

                <button type="submit" class="btn btn-info mb-3">ADD</button>
            </form>
        </div>
    </section>
</main>
</body>
</html>