<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="">
<head>
    <title>Components list</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <h1 style="text-align: center; background-color:tomato">Products on selling</h1>

            <div>
                <table class="table table-success table-striped">
                    <tr>
                        <th>#</th>
                        <th>Product name</th>
                        <th>Delivery note number</th>
                        <th>Delivery note date</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Sum</th>
                    </tr>
                    <th:block th:each="pos : ${productsOnSellingList}">
                        <tr>
                            <td style="width:10%" th:text="${pos.productOnSellingId}"></td>
                            <td style="width:20%" th:text="${pos.product.name}"></td>
                            <td style="width:10%" th:text="${pos.deliveryNote.number}"></td>
                            <td style="width:10%" th:text="${pos.deliveryNote.date}"></td>
                            <td style="width:17%" th:text="${pos.quantity}"></td>
                            <td style="width:17%" th:text="${pos.price}"></td>
                            <td style="width:16%" th:text="${pos.quantity * pos.price}"></td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>

    </section>
</main>
</body>
</html>
