<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="">
<head>
    <title>Component kinds list</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <h1 style="text-align: center; background-color:tomato">Measure units</h1>
            <div>
                <form th:action="@{/measureUnits/search}" method="get" class="form-inline my-2 my-lg-0">
                    <label>
                        <input name="query" class="form-control mr-sm-2" type="search"
                               placeholder="Search measure units" aria-label="Search">
                    </label>
                </form>
            </div>
            <div class="button">
                <a th:href="@{/measureUnits/new}" style="float: right;" class="btn btn-info mb-3">Create new</a>
            </div>
            <div>
                <table class="table table-success table-striped">
                    <tr>
                        <th>#</th>
                        <th>Measure unit</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <th:block th:each="measureUnit : ${measureUnitsList}">
                        <tr>
                            <td width="10%" th:text="${measureUnit.measureUnitId}"></td>
                            <td width="70%" th:text="${measureUnit.name}"></td>
                            <td width="10%"><a class="btn btn-outline-primary btn-sm"
                                               th:href="@{/measureUnits/{measureUnitId}/edit(measureUnitId=${measureUnit.measureUnitId})}">Edit</a>
                            </td>
                            <td width="10%"><a class="btn btn-outline-danger btn-sm"
                                               th:href="@{/measureUnits/{measureUnitId}/delete(measureUnitId=${measureUnit.measureUnitId})}">Delete</a>
                            </td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
    </section>
</main>
</body>
</html>
