<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}" lang="">
<head>
    <title> Error</title>
</head>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">

    <section layout:fragment="body" class="py-5">
        <div class="container px-2 my-1">
            <h3 class="text-center" style="color:#FF0000" >An error has occurred...</h3>
            <center><img th:src="@{/images/error.png}"
                         width="90px" height="90px" alt=""></center>
            <div>
                <h3 class="text-center" style="color:#FF0000" th:text="${apiException.message}"></h3>
            </div>
        </div>
    </section>
</main>
</body>
</html>