<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Warehouse</title>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand">Electronic technology Inc.</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/warehouseBalancesByComponent}">Warehouse balance</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownListConsignment" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Consignments</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownAddingForm">
                        <li><a class="dropdown-item" th:href="@{/consignments}">Received consignment's list</a></li>
                        <li><a class="dropdown-item" th:href="@{/componentsOnWarehouse}">Received component's list</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownListDeliveryNotes" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Delivery notes</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownAddingForm">
                        <li><a class="dropdown-item" th:href="@{/deliveryNotes}">Delivery note's list</a></li>
                        <li><a class="dropdown-item" th:href="@{/productsOnSelling}">Products on selling</a></li>
                    </ul>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownListForm" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Forms</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownAddingForm">
                        <li><a class="dropdown-item" th:href="@{/products}">Products</a></li>
                        <li><a class="dropdown-item" th:href="@{/components}">Components</a></li>
                        <li><a class="dropdown-item" th:href="@{/componentKinds}">Component kinds</a></li>
                        <li><a class="dropdown-item" th:href="@{/measureUnits}">Measure units</a></li>
                        <li><a class="dropdown-item" th:href="@{/componentsInProduct}">Components in product</a></li>
                        <li><a class="dropdown-item" th:href="@{/contractors}">Contractors</a></li>
                        <li><a class="dropdown-item" th:href="@{/addresses}">Addresses</a></li>
                        <li><a class="dropdown-item" th:href="@{/persons}">Contact persons</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Enter & Exit</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                        <li><a class="dropdown-item" th:href="@{/register/save}">Register</a></li>
                        <li><a class="dropdown-item" th:href="@{/login}">Login</a></li>
                        <li><a class="dropdown-item" th:href="@{/enter/logout}">Logout</a></li>
                        <li><a class="dropdown-item" th:href="@{/enter/logout}">Users</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<body layout:fragment="body"></body>
<section class="py-12 bg-light">
    <div class="container px-2 my-1">
        <h2 class="text-center display-20">Make your accounting activities simple. <br>
            Release more time for coffee-brakes!</h2>
        <a class="btn btn-lg btn-primary mb-2" href="/contact-info">Contact us</a>
    </div>
</section>
<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <div class="small m-0 text-white">Copyright &copy; Andrey Shevtsov 2024</div>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/static/js/scripts.js"></script>
</html>