<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}" lang="">

<head>
    <title>Success</title>
</head>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container px-5 my-5 mb-3 ">
            <div class="text-center mb-5">
                <p class="lead fw-normal text-muted mb-0  mb-3">This item was successfully added to the base. </p>
                <center> <img th:src="@{/images/ok.png}"
                              width="150px" height="150px"  alt=""></center>>
                <div th:text="${data}"></div>
                <a class="btn btn-lg btn-primary" href="/">Return to main menu</a>
            </div>
        </div>
    </section>
</main>
</body>
</html>