<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="">
<head>
    <title>Components list</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <h1 style="text-align: center; background-color:tomato">Warehouse balance list</h1>

            <div>
                <table class="table table-success table-striped">
                    <tr>
                        <th>#</th>
                        <th>Component name</th>
                        <th>Total quantity</th>
                        <th>Min quantity</th>
                    </tr>
                    <th:block th:each="wbbcl : ${warehouseBalancesByComponentList}">
                        <tr th:style="${wbbcl.totalQuantity} < ${wbbcl.minQuantity} ? 'background: red' : 'background: green'">
                            <td style="width:10%" th:text="${wbbcl.componentId}"></td>
                            <td style="width:50%" th:text="${wbbcl.name}"></td>
                            <td style="width:30%" th:text="${wbbcl.totalQuantity}"></td>
                            <td style="width:30%" th:text="${wbbcl.minQuantity}"></td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>

    </section>
</main>
</body>
</html>
