<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="">
<head>
    <title>Persons list</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <h1 style="text-align: center; background-color:tomato">Contact persons</h1>

            <div>
                <table class="table table-success table-striped">
                    <tr>
                        <th>#</th>
                        <th>Contractor's name</th>
                        <th>Person's name</th>
                        <th>Position</th>
                        <th>Phone number</th>
                    </tr>
                    <th:block th:each="person : ${personsList}">
                        <tr>
                            <td style="width:5%" th:text="${person.personId}"></td>
                            <td style="width:20%" th:text="${person.contractor.name}"></td>
                            <td style="width:20%" th:text="${person.firstName + ' ' + person.lastName}"></td>
                            <td style="width:20%" th:text="${person.position}"></td>
                            <td style="width:15%" th:text="${person.phoneNumber}"></td>
                        </tr>
                    </th:block>

                </table>
            </div>
        </div>
    </section>
</main>
</body>
</html>
