<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="">
<head>
    <title>Component kinds list</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <h1 style="text-align: center; background-color:tomato">Component kinds</h1>
            <div>
                <form th:action="@{/componentKinds/search}" method="get" class="form-inline my-2 my-lg-0">
                    <label>
                        <input name="query" class="form-control mr-sm-2" type="search"
                               placeholder="Search component kinds" aria-label="Search">
                    </label>
                </form>
            </div>
            <div class="button">
                <a th:href="@{/componentKinds/new}" style="float: right;" class="btn btn-info mb-3">Create new</a>
            </div>
            <div>
                <table class="table table-success table-striped">
                    <tr>
                        <th>#</th>
                        <th>Component kind</th>
                        <th>Edit component</th>
                        <th>Delete component</th>
                    </tr>
                    <th:block th:each="componentKind : ${componentKindsList}">
                        <tr>
                            <td style="width:10%" th:text="${componentKind.componentKindId}"></td>
                            <td style="width:70%" th:text="${componentKind.name}"></td>
                            <td style="width:10%"><a class="btn btn-outline-primary btn-sm"
                                               th:href="@{/componentKinds/{componentKindId}/edit(componentKindId=${componentKind.componentKindId})}">Edit</a>
                            </td>
                            <td style="width:10%"><a class="btn btn-outline-danger btn-sm"
                                               th:href="@{/componentKinds/{componentKindId}/delete(componentKindId=${componentKind.componentKindId})}">Delete</a>
                            </td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
    </section>
</main>
</body>
</html>
