<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="">
<head>
    <title>Delivery note list list</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <h1 style="text-align: center; background-color:tomato">Delivery notes</h1>
            <div>
                <form th:action="@{/deliveryNotes/search}" method="get" class="form-inline my-2 my-lg-0">
                    <label>
                        <input name="query" class="form-control mr-sm-2" type="search"
                               placeholder="Search components" aria-label="Search">
                    </label>
                </form>
            </div>
            <div class="button">
                <a th:href="@{/deliveryNotes/new}" style="float: right;" class="btn btn-info mb-3">Create new</a>
            </div>
            <div>
                <table class="table table-success table-striped">
                    <tr>
                        <th>#</th>
                        <th>Delivery note number</th>
                        <th>Delivery note date</th>
                        <th>Contractor</th>
                        <th>VAT</th>
                        <th>Sum without VAT</th>
                        <th>VAT SUM</th>
                        <th>Sum with VAT</th>
                        <th>View</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <th:block th:each="deliveryNote : ${deliveryNotesList}">
                        <tr>
                            <td style="width:3%" th:text="${deliveryNote.deliveryNoteId}"></td>
                            <td style="width:20%" th:text="${deliveryNote.number}"></td>
                            <td style="width:10%" th:text="${deliveryNote.date}"></td>
                            <td style="width:15%" th:text="${deliveryNote.contractor.name}"></td>
                            <td style="width:10%" th:text="${deliveryNote.vatLevel}"></td>
                            <td style="width:10%" th:text="${deliveryNote.totalSum}"></td>
                            <td style="width:10%" th:text="${deliveryNote.totalSum} * 1.2 - ${deliveryNote.totalSum}"></td>
                            <td style="width:10%" th:text="${deliveryNote.totalSum} * 1.2"></td>
                            <td style="width:3%"><a class="btn btn-outline-primary btn-sm"
                                              th:href="@{/deliveryNote/{deliveryNoteId}(deliveryNoteId=${deliveryNote.deliveryNoteId})}">View</a>
                            </td>
                            <td style="width:7%"><a class="btn btn-outline-primary btn-sm"
                                              th:href="@{/deliveryNotes/{deliveryNoteId}/edit(deliveryNoteId=${deliveryNote.deliveryNoteId})}">Edit</a>
                            </td>
                            <td style="width:7%"><a class="btn btn-outline-danger btn-sm"
                                              th:href="@{/deliveryNotes/{deliveryNoteId}/delete(deliveryNoteId=${deliveryNote.deliveryNoteId})}">Delete</a>
                            </td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
    </section>
</main>
</body>
</html>
