<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="">
<head>
    <meta charset="UTF-8">
    <title>Delivery note</title>
</head>

<body class="form-group col-md-6">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <h2>Add delivery note</h2>
            <form role="form" method="post" th:action="@{/deliveryNotes/save}"
                  enctype="multipart/form-data" th:object="${deliveryNote}">
                <div class="form-group col-md-6">
                    <label for="number" class="form-label">Number</label>
                    <input
                            type="text"
                            th:field="*{number}"
                            class="form-control"
                            id="number"
                            placeholder="Delivery note number"
                            required>
                    <label th:if="${#fields.hasErrors('number')}" th:errors="*{number}"
                           class="text-danger"></label>
                </div>

                <div class="form-group col-md-6">
                    <label for="date" class="form-label">Consignment date</label>
                    <input
                            type="text"
                            th:field="*{date}"
                            class="form-control"
                            id="date"
                            placeholder="YYYY/MM/DD">
                    <label th:if="${#fields.hasErrors('date')}" th:errors="*{date}"
                           class="text-danger"></label>
                </div>

                <div class="form-group col-md-6">
                    <label for="vatLevel" class="form-label">VAT level</label>
                    <input
                            type="text"
                            th:field="*{vatLevel}"
                            class="form-control"
                            id="vatLevel"
                            placeholder="VAT level">
                    <label th:if="${#fields.hasErrors('vatLevel')}" th:errors="*{vatLevel}"
                           class="text-danger"></label>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label for="contractor" class="form-label">Contractor</label>
                    <div class="col-sm-8" >
                        <select class="form-control" id="contractor" th:field="*{contractor}" required>
                            <option value="" selected>----SELECT CONTRACTOR----</option>
                            <th:block th:each="contr : ${contractorsList}">
                                <option
                                        th:value="${contr.contractorId}"
                                        th:text="${contr.name}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>

                <button type="submit" class="btn btn-info mb-3">Add new delivery note</button>
            </form>
        </div>
    </section>
</main>
</body>
</html>