<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="">

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body">
        <header class="py-1 bg-light border-bottom">
            <div class="container px-2 my-1 ">
                <br>
                <h1 style="text-align: center; background-color:tomato">Delivery note fulfilment</h1>
                <div class="text-center my-2">
                    <h6 style="text-align: center">Delivery note number</h6>
                    <h3 class="fw-bolder" th:text="${deliveryNote.number}"></h3>
                    <h6 style="text-align: center">Delivery note date</h6>
                    <h3 class="fw-bolder" th:text="${deliveryNote.date}"></h3>
                    <h6 style="text-align: center">Total sum without VAT</h6>
                    <h3 class="fw-bolder" th:text="${deliveryNote.totalSum}"></h3>
                </div>
            </div>
        </header>
        <div class="container">
            <h4 style="text-align: center">Add product to delivery note</h4>

            <div class="btn btn-primary me-2  mb-3">
                <a th:href="@{/productsOnSelling/{deliveryNoteId}/new(deliveryNoteId=${deliveryNote.deliveryNoteId})}"
                   style="float: right;" class="btn btn-success mb-3">Add new product on selling</a>
            </div>

            <table class="table table-success table-striped">
                <tr>
                    <th>#</th>
                    <th>Product name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Sum</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <th:block th:each="productOnSelling : ${productsOnSellingByDeliveryNoteList}">
                    <tr>
                        <td style="width:3%" th:text="${productOnSelling.productOnSellingId}"></td>
                        <td style="width:20%" th:text="${productOnSelling.product.name}"></td>
                        <td style="width:10%" th:text="${productOnSelling.quantity}"></td>
                        <td style="width:10%" th:text="${productOnSelling.price}"></td>
                        <td style="width:10%"  th:with="var=${productOnSelling.price * productOnSelling.quantity}"
                            th:text="${var}"></td>

                        <td style="width:7%"><a class="btn btn-outline-primary btn-sm"
                                          th:href="@{/productsOnSelling/{productOnSellingId}/edit(productOnSellingId=${productOnSelling.productOnSellingId})}">Edit</a>
                        </td>
                        <td style="width:7%"><a class="btn btn-outline-danger btn-sm"
                                          th:href="@{/productsOnSelling/{productOnSellingId}/delete(productOnSellingId=${productOnSelling.productOnSellingId})}">Delete</a>
                        </td>
                    </tr>
                </th:block>
            </table>
            <div class="button">
                <a th:href="@{/warehouseBalances/{deliveryNoteId}/writeOff(deliveryNoteId=${deliveryNote.deliveryNoteId})}" style="float: right;" class="btn btn-info mb-3">Send to selling</a>
            </div>
        </div>

    </section>

</main>
</body>
</html>