<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="">
<head>
    <meta charset="UTF-8">
    <title>Contractor</title>
</head>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <h2>Add contractor</h2>
            <form role="form" method="post" th:action="@{/contractors/save}"
                  enctype="multipart/form-data" th:object="${contractor}">
                <div class="form-group col-md-6 mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input
                            type="text"
                            th:field="*{name}"
                            class="form-control"
                            id="name"
                            placeholder="Contractor name"
                            required>
                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name }"
                           class="text-danger"></label>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label for="type" class="form-label">Contractor type</label>
                    <select class="form-control" id="type" th:field="*{type}" required>
                        <option value="" selected> SELECT TYPE</option>
                        <th:block th:each="type : ${T(com.shevtsovaa.models.ContractorType).values()}">
                            <option
                                    th:text="${type.displayText}"
                                    th:value="${type.name()}">
                            </option>
                        </th:block>
                    </select>
                </div>


                <button type="submit" class="btn btn-info mb-3">Create contractor</button>

            </form>
        </div>
    </section>
</main>
</body>
</html>