<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="">


<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body">

        <header class="py-1 bg-light border-bottom">
            <div class="container px-2 my-1 ">
                <br>
                <h1 style="text-align: center; background-color:tomato">Contractor fulfilment</h1>
                <div class="text-center my-5">
                    <h4 class="fw-bolder" th:text="${contractor.name}"></h4>
                    <h4 class="fw-bolder" th:text="${contractor.type}"></h4>
                    <p class="lead mb-o">Add address and contact person if you wish</p>
                </div>
            </div>
        </header>

        <div class="container">
            <h4 style="text-align: center">Add address</h4>

            <div class="btn btn-primary me-2 mb-3">
                <a th:href="@{/addresses/{contractorId}/new(contractorId=${contractor.contractorId})}"
                   style="float: right;" class="btn btn-success mb-3">Add address</a>
            </div>

            <table class="table table-success table-striped">
                <tr>
                    <th>#</th>
                    <th>Country</th>
                    <th>City</th>
                    <th>Street</th>
                    <th>Building</th>
                    <th>Postal code</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <th:block th:each="address : ${addressesByContractorList}">
                    <tr>
                        <td style="width:5%" th:text="${address.addressId}"></td>
                        <td style="width:20%" th:text="${address.country}"></td>
                        <td style="width:20%" th:text="${address.city}"></td>
                        <td style="width:20%" th:text="${address.street}"></td>
                        <td style="width:15%" th:text="${address.building}"></td>
                        <td style="width:15%" th:text="${address.postalCode}"></td>
                        <td style="width:5%"><a class="btn btn-outline-primary btn-sm"
                                                th:href="@{/addresses/{addressId}/edit(addressId=${address.addressId})}">Edit</a>
                        </td>
                        <td style="width:5%"><a class="btn btn-outline-danger btn-sm"
                                                th:href="@{/addresses/{addressId}/delete(addressId=${address.addressId})}">Delete</a>
                        </td>
                    </tr>
                </th:block>
            </table>

            <div class="btn btn-primary me-2 mb-3">
                <a th:href="@{/persons/{contractorId}/new(contractorId=${contractor.contractorId})}"
                   style="float: right;" class="btn btn-success mb-3">Add person</a>
            </div>

            <table class="table table-success table-striped">
                <tr>
                    <th>#</th>
                    <th>Person's name</th>
                    <th>Position</th>
                    <th>Phone number</th>
                    <th>Edit</th>
                    <th>Delete</th>

                </tr>
                <th:block th:each="person : ${personsByContractorList}">
                    <tr>
                        <td style="width:5%" th:text="${person.personId}"></td>
                        <td style="width:20%" th:text="${person.firstName + '  ' + person.lastName}"></td>
                        <td style="width:20%" th:text="${person.position}"></td>
                        <td style="width:15%" th:text="${person.phoneNumber}"></td>

                        <td style="width:5%"><a class="btn btn-outline-primary btn-sm"
                                                th:href="@{/persons/{personId}/edit(personId=${person.personId})}">Edit</a>
                        </td>
                        <td style="width:5%"><a class="btn btn-outline-danger btn-sm"
                                                th:href="@{/persons/{personId}/delete(personId=${person.personId})}">Delete</a>
                        </td>
                    </tr>
                </th:block>
            </table>
        </div>
    </section>
</main>
</body>
