<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="">
<head>
    <title>Contractors list</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <h1 style="text-align: center; background-color:tomato">Contractors</h1>
            <div>
                <form th:action="@{/contractors/search}" method="get" class="form-inline my-2 my-lg-0">
                    <label>
                        <input name="query" class="form-control mr-sm-2" type="search"
                               placeholder="Search contractors" aria-label="Search">
                    </label>
                </form>
            </div>
            <div class="button">
                <a th:href="@{/contractors/new}" style="float: right;" class="btn btn-info mb-3">Create new</a>
            </div>
            <div>
                <table class="table table-success table-striped">
                    <tr>
                        <th>#</th>
                        <th>Contractor name</th>
                        <th>Contractor type</th>
                        <th>View</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <th:block th:each="contractor : ${contractorsList}">
                        <tr>
                            <td style="width:3%" th:text="${contractor.contractorId}"></td>
                            <td style="width:30%" th:text="${contractor.name}"></td>
                            <td style="width:10%" th:text="${contractor.type}"></td>
                            <td style="width:3%"><a class="btn btn-outline-primary btn-sm"
                                              th:href="@{/contractors/{contractorId}(contractorId=${contractor.contractorId})}">View</a>
                            </td>
                            <td style="width:3%"><a class="btn btn-outline-primary btn-sm"
                                              th:href="@{/contractors/{contractorId}/edit(contractorId=${contractor.contractorId})}">Edit</a>
                            </td>
                            <td style="width:3%"><a class="btn btn-outline-danger btn-sm"
                                              th:href="@{/contractors/{contractorId}/delete(contractorId=${contractor.contractorId})}">Delete</a>
                            </td>
                        </tr>
                    </th:block>

                </table>
            </div>
        </div>
    </section>
</main>
</body>
</html>
