<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="">
<head>
    <title>Components list</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <h1 style="text-align: center; background-color:tomato">Components in product</h1>

            <div>
                <table class="table table-success table-striped">
                    <tr>
                        <th>#</th>
                        <th>Component name</th>
                        <th>Product name</th>
                        <th>Quantity by product</th>

                    </tr>
                    <th:block th:each="cip : ${componentsInProductList}">
                        <tr>
                            <td style="width:10%" th:text="${cip.componentInProductId}"></td>
                            <td style="width:35%" th:text="${cip.component.name}"></td>
                            <td style="width:35%" th:text="${cip.product.name}"></td>
                            <td style="width:20%" th:text="${cip.quantityByProduct}"></td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>

    </section>
</main>
</body>
</html>
