<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="">
<head>
    <meta charset="UTF-8">
    <title>Component</title>
</head>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <h2>Edit component in product</h2>
            <form role="form" method="post" th:action="@{/componentsInProduct/{componentInProductId}/edit(componentInProductId=${componentInProduct.componentInProductId})}"

                  enctype="multipart/form-data" th:object="${componentInProduct}">


                <div class="form-group col-md-6">
                    <label for="component" class="form-label">Component</label>
                    <div class="col-sm-8" >
                        <select class="form-control" id="component" th:field="*{component}" required>
                            <option value="" selected>----SELECT COMPONENT----</option>
                            <th:block th:each="com : ${componentsList}">
                                <option
                                        th:value="${com.componentId}"
                                        th:text="${com.name}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label for="quantityByProduct" class="form-label">Quantity in product</label>
                    <input
                            type="text"
                            th:field="*{quantityByProduct}"
                            class="form-control"
                            id="quantityByProduct"
                            placeholder="Quantity by product"
                            required>
                    <label th:if="${#fields.hasErrors('quantityByProduct')}" th:errors="*{quantityByProduct}"
                           class="text-danger"></label>
                </div>


                <button type="submit" class="btn btn-info mb-3">Update component</button>
            </form>
        </div>
    </section>
</main>
</body>
</html>